<!doctype html>
<html th:replace="~{layout :: layout (~{::main})}">
<body>
<main>
  <h1>Cadastro Diarista</h1>
  <form method="post" th:object="${diarista}" enctype="multipart/form-data">

    <div class="row mb-1">
      <div class="col-sm-12 col-md-9">
        <label for="nomeCompleto" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" id="nomeCompleto" th:field="*{nomeCompleto}">
        <ul>
          <li th:each="erro: ${#fields.errors('nomeCompleto')}" th:text="${erro}"></li>
        </ul>
      </div>


      <div class="col-sm-12 col-md-3">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpf" th:field="*{cpf}" data-mask="000.000.000-00">
        <ul>
          <li th:each="erro: ${#fields.errors('cpf')}" th:text="${erro}"></li>
        </ul>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-sm-12 col-md-6">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" th:field="*{email}">
        <ul>
          <li th:each="erro: ${#fields.errors('email')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="telefone" th:field="*{telefone}" data-mask="(00) 00000-0000">
        <ul>
          <li th:each="erro: ${#fields.errors('telefone')}" th:text="${erro}"></li>
        </ul>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-sm-12 col-md-9">
        <label for="logradouro" class="form-label">Logradouro</label>
        <input type="text" class="form-control" id="logradouro" th:field="*{logradouro}">
        <ul>
          <li th:each="erro: ${#fields.errors('logradouro')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-3">
        <label for="numero" class="form-label">Número</label>
        <input type="text" class="form-control" id="numero" th:field="*{numero}">
        <ul>
          <li th:each="erro: ${#fields.errors('numero')}" th:text="${erro}"></li>
        </ul>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-sm-12 col-md-6">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" th:field="*{bairro}">
        <ul>
          <li th:each="erro: ${#fields.errors('bairro')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" th:field="*{complemento}">
        <ul>
          <li th:each="erro: ${#fields.errors('complemento')}" th:text="${erro}"></li>
        </ul>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-sm-12 col-md-3">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control" id="cep" th:field="*{cep}" data-mask="00000-000">
        <ul>
          <li th:each="erro: ${#fields.errors('cep')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-3">
        <label for="estado" class="form-label">Estado</label>
        <input type="text" class="form-control" id="estado" th:field="*{estado}">
        <ul>
          <li th:each="erro: ${#fields.errors('estado')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" th:field="*{cidade}">
        <ul>
          <li th:each="erro: ${#fields.errors('cidade')}" th:text="${erro}"></li>
        </ul>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <label for="imagem" class="form-label">Foto</label>
        <input type="file" class="form-control" id="imagem" name="imagem">
      </div>
    </div>

    <div class="mb-2">
      <input type="button" class="btn btn-secondary" onclick="history.back(-1)" value="Voltar"/>
      <button class="btn btn-success" type="submit">Salvar</button>
    </div>

  </form>
</main>
</body>
</html>